/**основные цвета**/
:root {
  --brand-color-title: #212121;
  --brand-color-text: #757575;
  --brand-color-substrate: #2f303a;
  --brand-color-basic: #2196f3;
  --brand-color-name: #ffffff;
  --brand-color-line: #ececec;
  --brand-color-back: #f5f4fa;
  --brand-color-backgraund: rgba(47, 48, 58, 0.4);
  --brand-color-nummer: rgba(245, 244, 250, 1);
  --brand-color-link: #afb1b8;
  --brand-color-recht: rgba(238, 238, 238, 1);
  --brand-color-schadow: #e5e5e5;
}
/**изменения цвета кнопки**/
.header .color-block:hover,
.header .color-block:focus,
.header .color-block-a:hover,
.header .color-block-a:focus {
  background-color: var(--brand-color-name);
  color: var(--brand-color-basic);
}
.button .button-alle:hover,
.button .button-alle:focus {
  background-color: var(--brand-color-basic);
  color: var(--brand-color-name);
  box-shadow: 0 2px 2px 0 var(--brand-color-link);
}
.adress .footer-a:hover,
.adress .footer-a:focus {
  color: var(--brand-color-name);
}
.poster .poster-blank:hover,
.poster .poster-blank:focus {
  /**display: flex;**/
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  /**1px 4px 6px 0px var(--brand-color-text)**/
}

* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
body {
  font-family: Roboto;
  color: var(--brand-color-title);
  font-size: 14px;
  line-height: 1.72;
  background-color: var(--brand-color-name);
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-help {
  padding-bottom: 0px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/**верхняя линия**/
.header {
  border: 1px solid var(--brand-color-line);
}
.header-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.web-studio-header {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.17;
  color: var(--brand-color-basic);
  font-weight: 700;
  text-decoration: none;
}
.web-studio-footer {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.17;
  color: var(--brand-color-basic);
  font-weight: 700;
  text-decoration: none;
}

.heder-web {
  color: var(--brand-color-title);
}
.footer-studio {
  color: var(--brand-color-name);
}
.color-block-a {
  color: var(--brand-color-title);
}
.color-block {
  color: var(--brand-color-text);
}

.header-nav {
  display: flex;
  align-items: center;
}
.drei-button {
  display: flex;
  margin-left: 93px;
}

.drei-button-item {
  font-weight: 500;
  line-height: 1.17;
  color: var(--brand-color-title);
  margin-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.zwei-button {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.zwei-button-item {
  font-weight: 500;
  line-height: 1.17;
  color: var(--brand-color-text);
}
.zwei-button-item:not(:last-child) {
  margin-right: 50px;
}

/**.icon-header-linc:hover,
.icon-header-linc:focus {
  background-color: var(--brand-color-name);
  fill: var(--brand-color-basic);
}**/

.icon-header .icon-header-item:hover,
.icon-header .icon-header-item:focus {
  background-color: var(--brand-color-name);
  fill: var(--brand-color-basic);
}
.icon-header:hover .icon-header-item,
.icon-header:focus .icon-header-item {
  color: var(--brand-color-basic);
}

.icon-header:hover,
.icon-header:focus {
  fill: var(--brand-color-basic);
}
.icon-header:hover .icon-header-item,
.icon-header:focus .icon-header-item {
  fill: var(--brand-color-basic);
}
.zwei-button .icon-header:hover,
.zwei-button .icon-header:focus {
  border: var(--brand-color-basic);
}

.icon-header {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.icon-header-linc {
  margin-right: 10px;
}

.icon-header-item {
  display: flex;
  align-self: center;
  fill: var(--brand-color-text);
}

/**index**/
/**шапка**/
.hero {
  max-width: 1600px;
  height: 600px;
  background-color: rgba(196, 196, 196, 0.1);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-foto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.effective {
  font-size: 44px;
  line-height: 1.36;
  color: var(--brand-color-name);
  font-weight: 900;
  margin-bottom: 30px;
  /**padding-left: 400px;**/
}
.to-order {
  background-color: var(--brand-color-basic);
  font-size: 16px;
  line-height: 1.82;
  color: var(--brand-color-name);
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}
/**особенности**/
.peculiaritiese {
  /**padding-left: 215px;**/
  display: flex;
  align-items: stretch;
  padding-top: 0px;
}
.block:not(:last-child) {
  margin-right: 30px;
}
.block-name {
  width: 270px;
  height: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.block-text {
  width: 270px;
  height: 75px;
  font-weight: 400;
  color: var(--brand-color-text);
}
/**Чем мы занимаемся**/
.how-a {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.imgbox-a:not(:last-child) {
  padding-right: 30px;
}
.imgbox {
  /**padding: 15px;**/
  display: flex;
  justify-content: space-between;
}
/**Наша команда**/
.ourteam {
  background: var(--brand-color-back);
}
.our {
  font-size: 36px;
  line-height: 1.17;
  color: var(--brand-color-title);
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}
.fotogrupp {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 30px);
}
.foto-a {
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: var(--brand-color-name);
}
.foto-a:not(:last-child) {
  margin-right: 30px;
}

.name-img {
  font-size: 16px;
  line-height: 1.2;
  color: var(--brand-color-title);
  font-weight: 500;
}
.name-specialitat {
  font-size: 16px;
  color: var(--brand-color-text);
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 16px;
}

.name-i-s {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/**portfolio**/
/**button**/
.button-poster {
  display: block;
  padding-bottom: 94px;
}
.button {
  font-size: 16px;
  line-height: 1.6;
  color: var(--brand-color-title);
  font-weight: 500;
}
.button-all {
  text-align: center;
}
.alle-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.button-alle {
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.button-all:not(:last-child) {
  margin-right: 8px;
}

.button-a {
  height: 38px;
  width: 73px;
}
.button-b {
  height: 38px;
  width: 128px;
}
.button-c {
  height: 38px;
  width: 145px;
}
.button-d {
  height: 38px;
  width: 103px;
}
.button-e {
  height: 38px;
  width: 130px;
}
.poster {
  display: flex;
  flex-wrap: wrap;
}
.poster-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.poster-blank {
  display: flex;
  border-bottom: 1px solid var(--brand-color-recht);
}
.poster-blank:not(:nth-child(3n)) {
  margin-right: 30px;
}
.poster-blank:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.poster-foto {
  text-decoration: none;
}
.poster-name {
  font-size: 18px;
  line-height: 2;
  color: var(--brand-color-title);
  font-weight: 700;
  margin-bottom: 4px;
  /**cursor: pointer;**/
}
.poster-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--brand-color-text);
  font-weight: 400;
}

/**подвал**/
.footer {
  background-color: var(--brand-color-substrate);
  font-weight: 400;
  /**width: 1600px;**/
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.adress-adress {
  color: var(--brand-color-name);
}
.adress {
  color: var(--brand-color-name);
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-a {
  font-style: normal;
  font-weight: 400;
  color: var(--brand-color-text);
  text-decoration: none;
}

/**social**/
.social-link:hover,
.social-link:focus {
  background-color: var(--brand-color-basic);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--brand-color-back);
}

.list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  fill: var(--brand-color-back);
}
.social-item:not(last-child) {
  margin-right: 10px;
}
.social-icon {
  fill: var(--brand-color-link);
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /**background-color: var(--brand-color-back);**/
}

/**foter social**/
.footer-alle {
  display: flex;
  align-items: baseline;
}

.footer-social {
  /**display: flex;
  /**align-items: center;**/
  color: var(--brand-color-back);
  display: block;
  /**align-items: center;
  justify-content: center;**/
  /**margin-left: 70px;
  margin-top: 75px;**/
}

.footer-social-icon {
  fill: var(--brand-color-name);
}

.footer-join {
  margin-bottom: 20px;
  padding-top: 0px;
  /**justify-content: center;
  align-items: center;**/
}

.footer-social {
  margin-left: 70px;
}
.footer-social-name {
  /**display: flex;**/
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  fill: var(--brand-color-name);
}
.footer-social-link {
  background-color: var(--brand-color-title);
}

/**customers**/
.regular-customers {
  font-size: 36px;
  line-height: 1.17;
  color: var(--brand-color-title);
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}
.customers-social {
  display: flex;
  justify-content: center;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 90px;
}

.customers-item {
  /**width: 170px;
  height: 92px;**/
  border: 1px solid var(--brand-color-link);
  border-radius: 4px;
}
.customers-item:not(:last-child) {
  margin-right: 30px;
}
.customers-icon {
  fill: var(--brand-color-link);
  /**margin-top: 16px;**/
}
.customers-item:hover,
.customers-item:focus {
  fill: var(--brand-color-basic);
}
.customers-item:hover .customers-icon,
.customers-item:focus .customers-icon {
  fill: var(--brand-color-basic);
}
.customers-social .customers-item:hover,
.customers-social .customers-item:focus {
  /**display: flex;**/
  border: 1px solid var(--brand-color-basic);
}

.icon-item {
  display: flex;
  justify-content: center;
}
.peculiaritiese-item {
  background-color: var(--brand-color-back);
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.peculiaritiese-item:not(:last-child) {
  margin-right: 30px;
}
.peculiaritiese-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.peculiaritiese-icon {
}
